/*
 * Lightweight OpenDyslexic font definition used by the accessibility widget.
 * The files are hosted on jsDelivr (which mirrors the upstream OpenDyslexic
 * repository) so integrators do not need to embed megabytes of base64 data in
 * the JavaScript bundle. Hosts can override the stylesheet path via the
 * `data-open-dyslexic-stylesheet` attribute on the widget script tag.
 */
@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/stiac/accessibility_widget@main/resources/fonts/open-dyslexic/OpenDyslexic-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/stiac/accessibility_widget@main/resources/fonts/open-dyslexic/OpenDyslexic-Regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/stiac/accessibility_widget@main/resources/fonts/open-dyslexic/OpenDyslexic-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/stiac/accessibility_widget@main/resources/fonts/open-dyslexic/OpenDyslexic-Bold.woff') format('woff');
}
